USE [FP_BENGKEL_ANGGARA]
GO
/****** Object:  Table [dbo].[TRANSAKSI]    Script Date: 15/07/2018 08:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSAKSI](
	[no_nota] [char](10) NOT NULL,
	[kode_plg] [char](8) NOT NULL,
	[kode_mk] [char](8) NULL,
	[nopol] [varchar](12) NULL,
	[tgl_buat] [datetime] NULL,
	[tgl_lunas] [datetime] NULL,
	[bayar_kurang] [money] NULL,
	[ket] [text] NULL,
 CONSTRAINT [PK_TRANSAKSI] PRIMARY KEY CLUSTERED 
(
	[no_nota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRANSAKSI] ADD  CONSTRAINT [DF_TRANSAKSI_kode_mk]  DEFAULT (NULL) FOR [kode_mk]
GO
ALTER TABLE [dbo].[TRANSAKSI] ADD  CONSTRAINT [DF_TRANSAKSI_nopol]  DEFAULT (NULL) FOR [nopol]
GO
ALTER TABLE [dbo].[TRANSAKSI] ADD  CONSTRAINT [DF_TRANSAKSI_tgl_buat]  DEFAULT (getdate()) FOR [tgl_buat]
GO
ALTER TABLE [dbo].[TRANSAKSI] ADD  CONSTRAINT [DF_TRANSAKSI_lunas]  DEFAULT (NULL) FOR [tgl_lunas]
GO
ALTER TABLE [dbo].[TRANSAKSI] ADD  CONSTRAINT [DF_TRANSAKSI_bayar_kurang]  DEFAULT (NULL) FOR [bayar_kurang]
GO
ALTER TABLE [dbo].[TRANSAKSI] ADD  CONSTRAINT [DF_TRANSAKSI_ket]  DEFAULT (NULL) FOR [ket]
GO
ALTER TABLE [dbo].[TRANSAKSI]  WITH CHECK ADD  CONSTRAINT [FK_TRANSAKSI_KENDARAAN] FOREIGN KEY([nopol])
REFERENCES [dbo].[KENDARAAN] ([nopol])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TRANSAKSI] CHECK CONSTRAINT [FK_TRANSAKSI_KENDARAAN]
GO
ALTER TABLE [dbo].[TRANSAKSI]  WITH CHECK ADD  CONSTRAINT [FK_TRANSAKSI_MONTIR] FOREIGN KEY([kode_mk])
REFERENCES [dbo].[MONTIR] ([kode])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TRANSAKSI] CHECK CONSTRAINT [FK_TRANSAKSI_MONTIR]
GO
ALTER TABLE [dbo].[TRANSAKSI]  WITH CHECK ADD  CONSTRAINT [FK_TRANSAKSI_PELANGGAN] FOREIGN KEY([kode_plg])
REFERENCES [dbo].[PELANGGAN] ([kode])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TRANSAKSI] CHECK CONSTRAINT [FK_TRANSAKSI_PELANGGAN]
GO
