USE [FP_BENGKEL_ANGGARA]
GO
/****** Object:  Table [dbo].[MONTIR]    Script Date: 15/07/2018 08:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTIR](
	[kode] [char](8) NOT NULL,
	[nama] [varchar](128) NOT NULL,
	[alamat] [varchar](128) NULL,
	[telepon] [varchar](16) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_MONTIR] PRIMARY KEY CLUSTERED 
(
	[kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MONTIR] ADD  CONSTRAINT [DF_MONTIR_status]  DEFAULT ((0)) FOR [status]
GO
