USE [FP_BENGKEL_ANGGARA]
GO
/****** Object:  Table [dbo].[BARANG]    Script Date: 15/07/2018 08:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BARANG](
	[kode] [char](8) NOT NULL,
	[nama] [varchar](64) NOT NULL,
	[harga] [money] NOT NULL,
	[stok] [int] NOT NULL,
	[kodebar] [varchar](13) NULL,
	[ket] [nvarchar](max) NULL,
 CONSTRAINT [PK__BARANG__25A87493D94E446D] PRIMARY KEY CLUSTERED 
(
	[kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BARANG] ADD  CONSTRAINT [DF_BARANG_harga]  DEFAULT ((0)) FOR [harga]
GO
ALTER TABLE [dbo].[BARANG] ADD  CONSTRAINT [DF_BARANG_stok]  DEFAULT ((0)) FOR [stok]
GO
ALTER TABLE [dbo].[BARANG] ADD  CONSTRAINT [DF_BARANG_kodebar]  DEFAULT (NULL) FOR [kodebar]
GO
ALTER TABLE [dbo].[BARANG] ADD  CONSTRAINT [DF_BARANG_ket]  DEFAULT (NULL) FOR [ket]
GO
