USE [FP_BENGKEL_ANGGARA]
GO
/****** Object:  Table [dbo].[TRANSAKSI_DETAIL_BARANG]    Script Date: 15/07/2018 08:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSAKSI_DETAIL_BARANG](
	[no_nota] [char](10) NOT NULL,
	[kode_brg] [char](8) NOT NULL,
	[harga_brg] [money] NOT NULL,
	[jumlah] [int] NOT NULL,
	[diskon] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_BARANG] ADD  CONSTRAINT [DF_TRANSAKSI_DETAIL_BARANG_diskon]  DEFAULT ((0)) FOR [diskon]
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_BARANG]  WITH CHECK ADD  CONSTRAINT [FK_TRANSAKSI_DETAIL_BARANG_BARANG] FOREIGN KEY([kode_brg])
REFERENCES [dbo].[BARANG] ([kode])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_BARANG] CHECK CONSTRAINT [FK_TRANSAKSI_DETAIL_BARANG_BARANG]
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_BARANG]  WITH CHECK ADD  CONSTRAINT [FK_TRANSAKSI_DETAIL_BARANG_TRANSAKSI] FOREIGN KEY([no_nota])
REFERENCES [dbo].[TRANSAKSI] ([no_nota])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_BARANG] CHECK CONSTRAINT [FK_TRANSAKSI_DETAIL_BARANG_TRANSAKSI]
GO
