USE [FP_BENGKEL_ANGGARA]
GO
/****** Object:  Table [dbo].[PELANGGAN]    Script Date: 15/07/2018 08:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELANGGAN](
	[kode] [char](8) NOT NULL,
	[nama] [varchar](128) NOT NULL,
	[alamat] [varchar](128) NULL,
	[telepon] [varchar](16) NULL,
	[no_id] [varchar](32) NULL,
 CONSTRAINT [PK_PELANGGAN] PRIMARY KEY CLUSTERED 
(
	[kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
