USE [FP_BENGKEL_ANGGARA]
GO
/****** Object:  Table [dbo].[TRANSAKSI_DETAIL_JASA]    Script Date: 15/07/2018 08:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSAKSI_DETAIL_JASA](
	[no_nota] [char](10) NOT NULL,
	[kode_jasa] [char](8) NOT NULL,
	[harga_jasa] [money] NOT NULL,
	[tgl_mulai] [datetime] NULL,
	[tgl_selesai] [datetime] NULL,
	[diskon] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_JASA] ADD  CONSTRAINT [DF_TRANSAKSI_DETAIL_JASA_tgl_mulai]  DEFAULT (NULL) FOR [tgl_mulai]
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_JASA] ADD  CONSTRAINT [DF_TRANSAKSI_DETAIL_JASA_tgl_selesai]  DEFAULT (NULL) FOR [tgl_selesai]
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_JASA] ADD  CONSTRAINT [DF_TRANSAKSI_DETAIL_JASA_diskon]  DEFAULT ((0)) FOR [diskon]
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_JASA]  WITH CHECK ADD  CONSTRAINT [FK_TRANSAKSI_DETAIL_JASA_JASA] FOREIGN KEY([kode_jasa])
REFERENCES [dbo].[JASA] ([kode])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_JASA] CHECK CONSTRAINT [FK_TRANSAKSI_DETAIL_JASA_JASA]
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_JASA]  WITH CHECK ADD  CONSTRAINT [FK_TRANSAKSI_DETAIL_JASA_TRANSAKSI] FOREIGN KEY([no_nota])
REFERENCES [dbo].[TRANSAKSI] ([no_nota])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRANSAKSI_DETAIL_JASA] CHECK CONSTRAINT [FK_TRANSAKSI_DETAIL_JASA_TRANSAKSI]
GO
